* {
    text-align: center;
}

body div {
    display: flex;
    justify-self: center;
    justify-content: center;
}

body button {
    background-color: transparent;
    border: 0.1rem solid black;
}